.topHome-container{
    width: 1200px;
    height: 376px;
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
    box-sizing: border-box;
}
.topHome-container img{
    width: 100px;
    height: 100px;
}
.topHome-container .topHome-menuMain{
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
box-shadow: 1px 1px 8px rgb(108, 103, 103);
border-radius: 15px;
width: 19%;
margin-right: 1%;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up{
    width: 995px;
    background-color: #fff;
    height: 500px;  
    display: none;
    left: 210px;
    z-index: 100;
    top: 0px;
    border-radius: 10px;
}

.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany{
display: flex;
justify-content: space-between;
margin-left: 40px;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item1  h3,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item2  h3,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item3  h3,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item4  h3,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item5  h3
{
    margin-bottom: 10px;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item1 .item-list li,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item2 .item-list li,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item3 .item-list li,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item4 .item-list li,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item5 .item-list li
{
    list-style-type: none;
    margin-bottom: 7px;
    font-size: 14px;
    cursor: pointer;
    color: #a5a2a3;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item1 .item-list li:hover,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item2 .item-list li:hover,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item3 .item-list li:hover,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item4 .item-list li:hover,
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item5 .item-list li:hover
{
    color: red;
    
}
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany .item2{
 width: auto;
 height: auto;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany-item{
    display: flex;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item .topHome-menuMain-item-pop-up .topHome-menuMain-item-pop-up-phoneCompany div{
  display: block;
  flex-direction: column;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item:hover .topHome-menuMain-item-pop-up{
    display: block;
    position: absolute;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1px 10px;
    position: relative;
} 
.topHome-container .topHome-menuMain .topHome-menuMain-item h2{
    font-size: 12px;
    width: 130px;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item div svg:nth-child(2){
    width: 27.5px;
    height: 24px;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item div{
    display: flex;
    align-items: center;
}
.topHome-container .topHome-menuMain .topHome-menuMain-item div svg:nth-child(1){
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.topHome-container .topHome-sliding{
    flex: 3;
    width: 59%;
    box-shadow: 1px 1px 8px rgb(108, 103, 103);
border-radius: 15px;
margin-right: 1%;
}

.topHome-container .topHome-sliding .topHome-sliding-image img{
    width: 100%;
    height: 272px;
    border-radius: 15px 15px 0 0;
}
.topHome-container .topHome-sliding .topHome-sliding-tab{
    display: flex;
    justify-content: space-between;
}
.topHome-container .topHome-sliding .topHome-sliding-tab div{
    font-size: 12px;
   display: flex;
 justify-items: center;
 margin-top: 30px;
}
.topHome-container .topHome-rightBanner{
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
}
.topHome-container .topHome-rightBanner a img{
    width: 258.26px;
    height: 115.33px;
    box-shadow: 1px 1px 8px rgb(108, 103, 103);
border-radius: 15px;
}